/* 
 * CreateBy: wywar
 * CreateTime: 2016-6-25
 * Email: zhouweihua@biyabi.com
 * ip变现登录-页面样式
 */

/*  */
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    background:url(../images/bg_login.png) no-repeat 50% 50%;
    background-size:cover;
    /*background-size:100% 100%;*/
}
.wrapper {
    width:990px;
    margin:0 auto;
}
.logo-login {
    padding-top:30px;
}
.login-box{
    width:408px;
    margin:96px auto 0;
    padding:56px 30px;
    background:#fff;
    border-radius:3px;
    -webkit-box-shadow:0 10px 32px -10px #E6E6E6;
    -moz-box-shadow:0 10px 32px -10px #E6E6E6;
    box-shadow:0 10px 32px -10px #E6E6E6;
}
.login-box h1{
    width:290px;
    height:36px;
    margin:0 auto 18px;
    background:url(../images/img_login_frm_header.png) no-repeat 50% 50%;
    text-indent:-9999px;
}
.form-item label{
    font-size:16px;
}
.form-item input{
    font-size:16px;
}
.form-item input[type=text],
.form-item input[type=password]{
    width:80%;
    height:41px;
    margin-left:10px;
}
.remenber{
    margin-left:58px;
}
.remenber label{
    font-size:12px;
}
.form-item .btn-login{
    display:block;
    width:100%;
    height:47px;
    background:#e61926;
    font-family:'Microsoft YaHei';
    color:#fff;
    letter-spacing:3px;
    border:none;
    border-radius:5px;
}
.form-item .btn-login:hover{
    background:#CF1420;
    color:#fff;
    border:none;
}
.error-info
{
    display:none;
    padding:10px 0 0 62px;
    color:#e61926;
}


/*  end */
